body {
    padding: 15px;
}

h1 {
    margin-left: 20px;
}

#mainPanel {
    display: table;
	table-layout: fixed;
	margin-left: 15px;
}

#mainPanel p {
    display: table-caption;
	caption-side: bottom;
}

#mainPanel .arrows {
    display: table-caption;
    caption-side: top;
    width: 100%;
}

.arrow {
    font-size: 36px;
    padding: 0px 15px;
    cursor: pointer;
    display: inline-block;
}

.arrow:hover{
    color: #00f;
}

#rightArrow {
    float: right;
}

#navigation {
    margin-left: 15px;
}

.disabled {
    color: #999;
}

.arrow.disabled:hover {
    color:#999;
}

.pageLink {
    padding-right:15px;
    text-decoration: underline;
    cursor:pointer;
    color: #00f;
}

.current {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#jumperBox {
    margin-top:15px;
}
